# config settings for conkyForecast.py
CACHE_FOLDERPATH = /tmp/
CONNECTION_TIMEOUT = 5
EXPIRY_MINUTES = 30
TIME_FORMAT = %H:%M
DATE_FORMAT = %Y-%m-%d
LOCALE = 
XOAP_PARTNER_ID = 1238438968
XOAP_LICENCE_KEY = ea359f32a4b1c500
MAXIMUM_DAYS_FORECAST = 4
AUTO_NIGHT = False
BASE_XOAP_URL = http://xoap.weather.com/weather/local/UPXX0016?cc=*&dayf=5&link=xoap&prod=xoap&par=1238438968&key=ea359f32a4b1c500&unit=m
PROXY_HOST = 
PROXY_PORT = 8080
PROXY_USERNAME = 
PROXY_PASSWORD = 
